.outer__container {
    width: 70%;
    margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.home {
    position: relative; 
  }
  
  .home__container {
    position: absolute;
    top: 0;
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60%; 
    margin-top: 10rem;
  }

  .home__container h1 {
    color: var(--orange);
    padding-bottom: var(--padding-s);

  }

  .home__container h2 {
    color: var(--white);
    padding-bottom: var(--padding-s);
    font-size: var(--font-xxl);
    line-height: var(--font-xxxl);
    margin: var(--margin-l) 0

  }

  .home__container p {
    color: var(--white);
    padding-bottom: var(--padding-s);
    font-size: var(--font-xs);
    line-height: var(--font-m);

  }

  .home__inner {
    flex: 1;
    text-align: left;
  }

  .home__buttons {
    gap: 20px;
    
  }

  .home__buttons__about,  .home__buttons__schedule {
    margin-right: var(--margin-m);
    padding: var(--padding-l) var(--padding-xxl);
    border-style: none;
    border-radius: var(--padding-s);
    cursor: pointer;
  } 

  .home__buttons__schedule {
    background-color: var(--orange);
  }

  .home__buttons__about {
    background-color: var(--white);
  }


  
  /* Three Cards */

  .three__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    margin-top: var(--margin-xxxl)
   
  }

  .three__cards__container {
    flex:1;
    background-color: var(--white);
    border-radius: 20px;
    padding: var(--padding-l);
    text-align: center;
    
  }

  .three__cards__icon {
    background-color: var(--darkGrey);
    border-radius: 50%;
    width: 50px; /* Can adjust size */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .three__cards__container h4{
    font-size: var(--font-m);
    margin-bottom: var(--margin-m);
    
  }


  .three__cards__container p{
    font-size: var(--font-xs);
    
  }




  /* About Company */

  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--margin-xxxl);
  
  }

  .about__description {
    flex: 1;
    text-align: left;
    
  }

  .about__description h3{
    color: var(--grey);
  }

  .about__description h4{
    color: var(--white);
    font-size: var(--font-xl);
    margin: var(--margin-m) 0;
    line-height: var(--font-xl);
    
  }

  .about__description h5{
    color: var(--white);
    font-size: var(--font-l);
    margin: var(--margin-m) 0;
    line-height: var(--font-xl);
    
  }

  .about__description p{
    color: var(--grey);
    line-height: var(--font-l);
    
  }

  .about__container {
    flex: 1;
    text-align: center;
    margin-left: var(--margin-m);
  }

  .about__container img{
    height: 25rem;
    width: 25rem;
    border-radius: 20px;
    
  }

  .more__about {
    background-color: var(--orange);
    padding: var(--padding-l) var(--padding-xl);
    border-radius: 10px;
    border-style: none;
    font-weight: bold;
    margin-top: var(--margin-l);
    cursor: pointer;
  }


  /* Explore Services */

  .explore__services{
    text-align: center;
    margin-top: var(--margin-xxxl);
    
  }

.explore__services h3{
  color: var(--grey);
}


.explore__services h4{
  color: var(--white);
  font-size: var(--font-xl);
  margin: var(--margin-m) 0;
  line-height: var(--font-xl);
}

.explore__container {
display: grid;
gap: 20px;
grid-template-columns: repeat(3, 1fr);

}

.explore__container__item {
  border: white solid 1px;
  height: 400px;
  text-align: left;
  
  
  }

.explore__container__item img{ 
    max-height: 200px; 
    width: 100%; 
    object-fit: cover; 
    
    }

.explore__container__item__description {
       padding: var(--padding-l);
      
      }

.explore__container__item__description h5{
    color: var(--white);
    font-size: var(--font-m);
    margin-bottom: var(--margin-m);
    
    }

.explore__container__item__description p{
      color: var(--grey);
      
      }
.explore__container__button {
  background-color: transparent;
  cursor: pointer;
  border-style: none;
  margin-top: var(--margin-m);

}    

.explore__container__button h6{
  color: var(--grey);
  font-size: var(--font-xs);

} 


/* Recent Work */

.recent__work {
  text-align: center;
  margin: var(--margin-xxxl) 0;

}

.recent__work h3{
 color: var(--grey);

}

.recent__work h4{
  color: var(--white);
  font-size: var(--font-xl);
  margin: var(--margin-m) 0;
  line-height: var(--font-xl);

}

.work__categories {
  display: flex;
  justify-content: space-around;
  padding: 0 var(--padding-xxxl);
  flex-wrap: wrap;
}

.work__categories__button {
  flex-basis: calc(20% - 10px); 
  margin: 5px; 
  background-color: transparent;
  border-style: none;
  cursor: pointer;

}

.work__categories__button h5 {
  color: var(--grey);
  white-space: nowrap;
  text-decoration: underline;
  text-decoration-thickness: 4px;
}

.work__container__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 20px;
  margin: var(--margin-xxl) 0;
}

.work__images {
  height: 25rem;
  width: 25rem;

}












  @media (max-width: 1100px) {

    .three__cards {
      grid-template-columns: 1fr; /* Change to one column */
  }
  .about {
    flex-direction: column;
  
  }

  .about__container {
    margin-left:0;
    margin-top: var(--margin-l);
  }

  .about__container img{
    height: 15rem;
    width: 15rem;
    
  }

  .explore__container {
    grid-template-columns: repeat(2, 1fr);
    }

    .work__container__images {
      grid-template-columns: 1fr;
    }

    .work__images {
      height: 20rem;
      width: 20rem;
    }

  }

  @media (max-width: 600px) {

    .explore__container {
      grid-template-columns: 1fr
      
      }

      .work__images {
        height: 15rem;
        width: 15rem;
      
      }
    
  }






  

  
  
  