* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--darkGrey);
}

:root {
  --grey: #d3d3d3;
  --lightGrey: #313131;
  --blue: #1888ff;
  --darkGrey: #1C1C1C;
  --black: #000000;
  --white: #FFFFFF;
  --darkGreen: #003e29;
  --green: #2bbb35;
  --creme: #efeba7;
  --red:#FF0000;
  --orange: #FFA500;


  /* Margin */
  --margin-xxs:0.25rem;
  --margin-xs:0.5rem;
  --margin-s:0.75rem;
  --margin-m:1rem;
  --margin-l:1.25rem;
  --margin-xl:1.75rem;
  --margin-xxl:2.5rem;
  --margin-xxxl:5rem;

  
  /* Padding  */
  --padding-xxs:0.25rem;
  --padding-xs:0.5rem;
  --padding-s:0.75rem;
  --padding-m:1rem;
  --padding-l:1.25rem;
  --padding-xl:1.75rem;
  --padding-xxl:2.5rem;

  /* Font Sizes */

  --font-xs:1rem;
  --font-s:1.25rem;
  --font-m:1.6rem;
  --font-l:2rem;
  --font-xl:3rem;
  --font-xxl:4rem;
  --font-xxxl:5rem;

 }

 h1 {
  color: var(--black);
  font-size: var(--font-xs)
 }



@font-face {
  font-family: "Roboto Mono";
  src: local("RobotoMono-Medium"),
    url("./fonts/RobotoMono-Medium.ttf") format("truetype");
}